# Programming Assignment 23

In [1]:
# Q.1.

def is_symmetrical(num):
    s = str(num)
    return s == s[::-1]

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

In [7]:
# Q.2.

from functools import reduce

In [8]:
def multiply_nums(nums):
    int_nums = list(map(int, nums.split(", ")))
    return reduce(lambda x, y: x * y, int_nums)

In [9]:
multiply_nums("2, 3")

6

In [10]:
multiply_nums("1, 2, 3, 4")

24

In [11]:
multiply_nums("54, 75, 453, 0")

0

In [12]:
multiply_nums("10, -2")

-20

In [17]:
# Q.3.

def square_digits(n):
    s = str(n)
    l = [str(int(c)**2) for c in s]
    return int("".join(l))

In [18]:
square_digits(9119)

811181

In [19]:
square_digits(2483)

416649

In [20]:
square_digits(3212)

9414

In [23]:
# Q.4.

def setify(l):
    return list(set(sorted(l)))

In [24]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [25]:
setify([4, 4, 4, 4])

[4]

In [26]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [27]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [33]:
# Q.5.

def mean(n):
    s = str(n)
    ans = reduce(lambda x, y: int(x) + int(y), s)
    return ans//len(s)

In [34]:
mean(42)

3

In [35]:
mean(12345)

3

In [36]:
mean(666)

6