# Programming Assignment 21

In [6]:
# Q.1.

def next_in_line(l, el):
    if l == []:
        return "No list has been selected"
    l.append(el)
    l.pop(0)
    return l

In [7]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [8]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [9]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [10]:
next_in_line([], 6)

'No list has been selected'

In [13]:
# Q.2.

def get_budgets(info):
    ans = 0
    for i in info:
        ans += i.get("budget", 0)
    return ans

In [14]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [15]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

62600

In [18]:
# Q.3.

def alphabet_soup(string):
    return "".join(sorted(string))

In [19]:
alphabet_soup("hello")

'ehllo'

In [20]:
alphabet_soup("edabit")

'abdeit'

In [21]:
alphabet_soup("hacker")

'acehkr'

In [22]:
alphabet_soup("geek")

'eegk'

In [23]:
alphabet_soup("javascript")

'aacijprstv'

In [28]:
# Q.4.

def compound_interest(p, t, r, n):
    return round(p * ((1 + r/n)**(n*t)), 2)

In [29]:
compound_interest(100, 1, 0.05, 1)

105.0

In [30]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [31]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

In [32]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [39]:
# Q.5.

def return_only_integer(l):
    return list(filter(lambda x: type(x) == int, l))

In [40]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [41]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [42]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [43]:
return_only_integer(["String", True, 3.3, 1])

[1]